form{
    text-align: center;
    width: 250PX;
    background-color: #DDD;
    padding: 15px 0;
    margin: 0 auto;
    border-radius: 10px;
}
p, h2{
    padding: 0%;
    margin: 0%;
}
.sub{
    background-color: blue;
    color: #fff;
    border: 0;
    padding: 5px;
    width: 208px;
}
input{
    height: 25px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.new{
    background-color: green;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    border: 0;
    width: 140px;
    height: 20px;
    font-size: 11px;
}
.or{
font-size: 12px;
margin-top: -18px;
padding: 0 8px;
background: #ddd;
margin-left: auto;
z-index: 2;
margin-right: auto;
width: fit-content;
text-align: center;
}
a{
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}
hr{
    background-color: black;
    padding: 0.5px;
    width: 80%;
    
}
div{
    display: flex;
    width: 100%;
    overflow-x: scroll;
}
button{
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 5px;
    outline: 0;

    background-color: #fff;
}
button:hover{
    color: #fff;
    background-color: #000;
    border-color: #000;
    font-weight: bold;
}