h1{
    margin: .75em;
    background-color: #fff;
    width: 700px;
    border: 4px solid #00f;
    border-radius: 5px;
    outline: 8px solid powderblue;
    outline-offset: 5px; /*IT Gives space between border and outline*/
}